  /* unvisited link */
a:link {
    color: white;
    text-decoration: none;
    
  }
  
  /* visited link */
  a:visited {
    color: rgb(132, 128, 128);
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  
    
  }
  
  /* selected link */
  a:active {
   text-decoration: underline;
    border-radius: 10px;
  } 