.first-content-container {
    background-color: rgb(56,56,57) ;
    color: white;
    min-width: 300px;
    min-height: 125px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: justify;
}
