body{
    background-color: rgb(45, 45, 45);
}
header { 
    color: white;
   
}
.main {
    color: white;
}
/* Style the navigation menu */
.navbar {
    
    background-color: rgb(56, 56, 56);
    overflow: auto;
    display: list-item;
    float: left;
    min-width: 99vw;
    margin-bottom: 5%;
    margin-top: -10px;
 
}
  
  /* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flexbox;
    min-width:22.875vw;
    text-align: center; 
}
  
  /* Add a background color on mouse-over */
.navbar a:hover {
    color: black;
    
}
  
  /* Style the current/active link */
.navbar a.active {
    background-color: rgb(45,45,45);
    color: white;
    width: 18.5%;
}



footer{
    background-color: rgb(45, 45, 45);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 94.5%;
      text-align: left; 
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .navbar a.active {
        background-color: white;
        color: black;
        width: 94.5%;
  }      
}